In [1]:
import pandas as pd

In [2]:
student_scores = pd.DataFrame({'소휘':[100,100,100], '준범':[40, 30, 20], '경준':[50, 50, 60]})


print(student_scores)

    소휘  준범  경준
0  100  40  50
1  100  30  50
2  100  20  60

In [3]:
student_scores.describe()

          소휘    준범         경준
count    3.0   3.0   3.000000
mean   100.0  30.0  53.333333
std      0.0  10.0   5.773503
min    100.0  20.0  50.000000
25%    100.0  25.0  50.000000
50%    100.0  30.0  50.000000
75%    100.0  35.0  55.000000
max    100.0  40.0  60.000000

In [4]:
student_scores.head(2)

    소휘  준범  경준
0  100  40  50
1  100  30  50